body{
	margin: 0px;
	padding: 0px;


	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.w-100 {
	width: 100%;
}

/* Task 4 */
.container{
	max-width: 1000px;
	margin: 30px auto;
	align-self: center;
}

body > .container {
	padding-left: 2em;
	padding-right: 2em;
}
